@model IEnumerable<HotProperty_Web.Models.Dto.PropertyDTO>

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Property List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Property" asp-action="PropertyCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> New Property</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Asking Price</th>
                <th>No Bedrooms</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var property in Model){
                <tr>
                    <td>@property.Name</td>
                    <td>@property.AskingPrice</td>
                    <td>@property.NoBedroom</td>
                    <td>
                        <a asp-controller="Property" asp-action="PropertyUpdate" asp-route-propertyId="@property.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Property" asp-action="PropertyDelete" asp-route-propertyId="@property.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                     </td>
                </tr>
            }
        </tbody>
    </table>
</div>